services:
  db:
    image: postgres:15
    container_name: trading_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - trading_data:/var/lib/postgresql/data

  # pgAdmin GUI Service
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      # These credentials are for logging into the pgAdmin web interface
      PGADMIN_DEFAULT_EMAIL: ${USER_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${USER_PASSWORD}
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db

volumes:
  trading_data:
  pgadmin_data:

